<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
	<head>
		<title>
			Product Add Form
		</title>
	</head>
	
	<body>
	
	<form th:action="@{/product/save}" th:object="${product}" method="post">
		<input type="hidden" th:field="*{id}">
		<table>
			<tr>
				<td>Category</td>
				<td>
					<select th:field="*{categoryId}">
						<option th:each="item:${category}" 
						th:value="${item.id}" 
						th:text="${item.categoryName}"></option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Variant</td>
				<td>
					<select th:field="*{variantId}">
						<option th:each="item:${variant}" 
						th:value="${item.id}"
						th:text="${item.variantName}"></option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Product Code</td>
				<td><input type="text" th:field="*{productCode}"></td>
			</tr>
			
			<tr>
				<td>Product Name</td>
				<td><input type="text" th:field="*{productName}"></td>
			</tr>
			
			<tr>
				<td>Description</td>
				<td><input type="text" th:field="*{description}"></td>
			</tr>
			
			<tr>
				<td>Price</td>
				<td><input type="number" th:field="*{price}"></td>
			</tr>
			
			<tr>
				<td>Stock</td>
				<td><input type="number" th:field="*{stock}"></td>
			</tr>
			
			<tr>
				<td><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
	
	</body>
	
</html>