<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Product API</title>
</head>

<body>

	<div layout:fragment="content" class="bg-light">

		<div class="wrapper">
			<div class="content-wrapper">
				<section class="content">
					<div class="container-fluid">

						<h1>Product API</h1>

						<p>
							<a th:href="@{~/api/product/exporttopdf}" class="btn btn-info">Export to PDF</a>
							<button onclick="openForm()" class="btn bg-success">Tambah Data</button>
						</p>
						
						<input type="text" class="form-control" style="width: 300px;" placeholder='Cari Product'
							onkeyup='searchByProduct(this.value)'><br>


						<div id="productList">

						</div>

						<div id="btnHapus">

						</div>

						<script>
							function searchByProduct(keyword) {
								if (keyword.length > 0) {
									$.ajax({
										url: '/api/product/search/' + keyword,
										type: 'get',
										contentType: 'application/json',
										success: function (data) {
											var str = '<table class="table">'
											str += '<th>Nomor</th>'
											str += '<th>Variant</th>'
											str += '<th>Product Code</th>'
											str += '<th>Product Name</th>'
											str += '<th>Description</th>'
											str += '<th>Price</th>'
											str += '<th>Stock</th>'
											str += '<th colspan="2">Action</th>'

											for (i = 0; i < data.length; i++) {
												str += '<tr>'
												str += "<td>" + (i + 1) + "</td>"
												str += "<td>" + data[i].variant.variantName + ' / ' + data[i].category.categoryName + "</td>"
												str += "<td>" + data[i].productCode + "</td>"
												str += "<td>" + data[i].productName + "</td>"
												str += "<td>" + data[i].description + "</td>"
												str += "<td>" + data[i].price + "</td>"
												str += "<td>" + data[i].stock + "</td>"
												str += "<td><button class='btn btn-primary' value='" + data[i].id + "' onclick=f_edit(this.value) >Edit</button></td>"
												str += "<td><button class='btn btn-danger' value='" + data[i].id + "' onclick=f_delete(this.value) >Delete</button></td>"
												str += "<td><input type='checkbox' onclick='selecteditem()' class='mychecked' id='listdelete' value='" + data[i].id + "'></td>"
												str += '</tr>'

											}

											str += "</table>"
											$('#productList').html(str)
										}
									})
								}
							}

							$(function () {
								openList()
							})
							function openList() {
								$.ajax({
									url: '/api/product',
									type: 'get',
									contentType: 'application/json',
									success: function (data) {
										var str = '<table class="table">'
										str += '<th>Nomor</th>'
										str += '<th>Variant</th>'
										str += '<th>Product Code</th>'
										str += '<th>Product Name</th>'
										str += '<th>Description</th>'
										str += '<th>Price</th>'
										str += '<th>Stock</th>'
										str += '<th colspan="2">Action</th>'

										for (i = 0; i < data.length; i++) {
											str += '<tr>'
											str += "<td>" + (i + 1) + "</td>"
											str += "<td>" + data[i].variant.variantName + ' / ' + data[i].category.categoryName + "</td>"
											str += "<td>" + data[i].productCode + "</td>"
											str += "<td>" + data[i].productName + "</td>"
											str += "<td>" + data[i].description + "</td>"
											str += "<td>" + data[i].price + "</td>"
											str += "<td>" + data[i].stock + "</td>"
											str += "<td><button class='btn btn-primary' value='" + data[i].id + "' onclick=f_edit(this.value) >Edit</button></td>"
											str += "<td><button class='btn btn-danger' value='" + data[i].id + "' onclick=f_delete(this.value) >Delete</button></td>"
											str += "<td><input type='checkbox' onclick='selecteditem()' class='mychecked' id='listdelete' value='" + data[i].id + "'></td>"
											str += '</tr>'

										}

										str += "</table>"
										$('#productList').html(str)
									}
								})
							}



							function openForm() {
								$.ajax({
									url: '/api/category',
									type: 'get',
									contentType: 'application/json',
									success: function (data) {
										var str = '<table class="table" cellpading="5"'
										str += '<tr>'
										str += '<td>Category</td>'
										str += '<td>'
										str += '<select id="category_id" onchange="variantByCategory(this.value)" class="custom-select rounded-5">'
										str += "<option>-- Select Category --</option>";
										for (i = 0; i < data.length; i++) {

											str += '<option value=' + data[i].id + '>' + data[i].categoryName + '</option>'

										}
										str += '</select>'
										str += '</td>'
										str += '</tr>'

										str += '<tr>'
										str += '<td>Variant</td>'
										str += '<td>'
										str += '<select id="variant_id" class="custom-select rounded-5">'
										str += '<option>-- Select Variant --</option>'
										str += '</select>'
										str += '</td>'
										str += '</tr>'

										str += '<tr>'
										str += '<td>Product Code</td>'
										str += '<td><input class="form-control" type="text" id="product_code"</td>'
										str += '</tr>'
										str += '<tr>'
										str += '<td>Product Name</td>'
										str += '<td><input class="form-control" type="text" id="product_name"</td>'
										str += '</tr>'
										str += '<tr>'
										str += '<td>Description</td>'
										str += '<td><input class="form-control" type="text" id="description"</td>'
										str += '</tr>'
										str += '<tr>'
										str += '<td>Price</td>'
										str += '<td><input class="form-control" type="number" id="price"</td>'
										str += '</tr>'
										str += '<tr>'
										str += '<td>Stock</td>'
										str += '<td><input class="form-control" type="number" id="stock"</td>'
										str += '</tr>'
										str += '<tr>'
										str += '<td colspan="2"><button onclick="saveProduct()" data-dismiss="modal" class="btn btn-success">Simpan Data</button></td>'
										str += '</tr>'

										str += '</table>'
										$('.modal-title').html('Tambah Data Variant')
										$('.modal-body').html(str)
										$('#mymodal').modal('show')


									}
								})
							}

							function variantByCategory(categoryId, variantId) {
								$.ajax({
									url: '/api/variantbycategory/' + categoryId,
									type: 'get',
									contentType: 'application/json',
									success: function (data) {
										var str = "<option>-- Select Variant --</option>";
										for (i = 0; i < data.length; i++) {
											if (data[i].id == variantId) {
												select = "selected";
											} else {
												select = "";
											}
											str += '<option value="' + data[i].id + '" ' + select + '>' + data[i].variantName + '</option>';
										}

										$('#variant_id').html(str)
									}
								})
							}

							function saveProduct() {
								var formdata = '{'
								formdata += '"variantId": "' + $('#variant_id').val() + '",'
								formdata += '"categoryId": "' + $('#category_id').val() + '",'
								formdata += '"productCode": "' + $('#product_code').val() + '",'
								formdata += '"productName": "' + $('#product_name').val() + '",'
								formdata += '"description": "' + $('#description').val() + '",'
								formdata += '"price": "' + $('#price').val() + '",'
								formdata += '"stock": "' + $('#stock').val() + '"'
								formdata += '}'

								$.ajax({
									url: '/api/add/product',
									type: 'post',
									contentType: 'application/json',
									data: formdata,
									success: function (data) {
										openList()
									}

								})
							}

							function f_edit(id) {
								$.ajax({
									url: '/api/product/' + id,
									type: 'get',
									contentType: 'application/json',
									success: (data) => {
										$.ajax({
											url: '/api/category/',
											type: 'get',
											contentType: 'application/json',
											success: function (data2) {

												var str = '<table class="table" cellpading="5"'

												str += '<tr>'
												str += '<td>Category</td>'
												str += '<td>'
												str += '<select id="category_id"  onchange="variantByCategory(this.value)" class="custom-select rounded-5">'
												for (i = 0; i < data2.length; i++) {
													if (data2[i].id == data.categoryId) {
														select = "selected";
													} else {
														select = "";
													}

													str += '<option value="' + data2[i].id + '"' + select + '>' + data2[i].categoryName + '</option>'

												}
												str += '</select>'
												str += '</td>'
												str += '</tr>'

												str += '<tr>'
												str += '<td>Variant</td>'
												str += '<td>'
												str += '<select id="variant_id" class="custom-select rounded-5">'

												str += '</select>'
												str += '</td>'
												variantByCategory(data.variant.categoryId, data.variantId)
												str += '</tr>'

												str += '<tr>'
												str += '<td>Product Code</td>'
												str += '<td><input class="form-control" type="text" value="' + data.productCode + '" id="product_code"</td>'
												str += '</tr>'
												str += '<tr>'
												str += '<td>Product Name</td>'
												str += '<td><input class="form-control" type="text" value="' + data.productName + '" id="product_name"</td>'
												str += '</tr>'
												str += '<tr>'
												str += '<td>Description</td>'
												str += '<td><input class="form-control" type="text" value="' + data.description + '" id="description"</td>'
												str += '</tr>'
												str += '<tr>'
												str += '<td>Price</td>'
												str += '<td><input class="form-control" type="number" value="' + data.price + '" id="price"</td>'
												str += '</tr>'
												str += '<tr>'
												str += '<td>Stock</td>'
												str += '<td><input class="form-control" type="number" value="' + data.stock + '" id="stock"</td>'
												str += '</tr>'

												str += '<tr>'
												str += '<td colspan="2"><button value="' + data.id + '" onclick="updateProduct(this.value)" data-dismiss="modal" class="btn btn-success">Simpan Data</button></td>'
												str += '</tr>'
												str += '</table>'
												$('.modal-title').html('Edit Data Variant')
												$('.modal-body').html(str)
												$('#mymodal').modal('show')

											}
										})

									}
								})
							}

							function updateProduct(id) {
								var formdata = '{'
								formdata += '"id": "' + id + '",'
								formdata += '"variantId": "' + $('#variant_id').val() + '",'
								formdata += '"categoryId": "' + $('#category_id').val() + '",'
								formdata += '"productCode": "' + $('#product_code').val() + '",'
								formdata += '"productName": "' + $('#product_name').val() + '",'
								formdata += '"description": "' + $('#description').val() + '",'
								formdata += '"price": "' + $('#price').val() + '",'
								formdata += '"stock": "' + $('#stock').val() + '"'
								formdata += '}'
								$.ajax({
									url: '/api/update/product',
									type: 'put',
									contentType: 'application/json',
									data: formdata,
									success: (data) => {
										openList()
									}
								})
							}


							function f_delete(id) {
								var conf = window.confirm("Apakah anda yakin ingin dihapus?")
								if (conf) {
									$.ajax({
										url: '/api/delete/product/' + id,
										type: 'delete',
										contentType: 'application/json',
										success: () => {
											openList()
										}
									})
								}
							}

							function selecteditem() {
								var myChecked = $('.mychecked')
								var selected = [];

								for (var i = 0; i < myChecked.length; i++) {
									if (myChecked[i].checked) {
										selected.push(myChecked[i].value);
									}
								}

								if (selected.length > 0) {
									var str = '<button class="btn btn-primary btn-sm" onclick="confirmDeleteItem(' + selected + ')">Hapus</button>';
								} else {
									str = '<button class="btn btn-primary btn-sm" disabled>Hapus</button>';
								}

								$('#btnHapus').html(str);
							}

							function confirmDeleteItem(...selected) {
								var str = 'Anda yakin akan mengapus category <br>';
								console.log(selected);
								for (var i = 0; i < selected.length; i++) {
									$.ajax({
										url: '/api/product/' + selected[i],
										type: 'get',
										contentType: 'application/json',
										success: function (data) {
											str += '<span>' + data.categoryName + '</span> <br>';

											$('.modal-title').html('<h5 style="color:#00bfff">Hapus Category<h5>');
											$('.modal-body').html(str);
											$('.modal-footer').html(footer);
											$('#mymodal').modal('show');
										}
									})

								}
								var footer = '<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Batal</button>';

								footer += '<button type="button" class="btn btn-primary btn-sm" onclick="multipledelete(' + selected + ')" data-dismiss="modal">Hapus</button>';

							}


							function multipledelete(...selected) {
								for (var i = 0; i < selected.length; i++) {
									$.ajax({
										url: '/api/product/' + selected[i],
										type: 'get',
										contentType: 'application/json',
										success: function (data) {

											var formdata = '{'
											formdata += '"variantId": "' + $('#variant_id').val() + '",'
											formdata += '"categoryId": "' + $('#category_id').val() + '",'
											formdata += '"productCode": "' + $('#product_code').val() + '",'
											formdata += '"productName": "' + $('#product_name').val() + '",'
											formdata += '"description": "' + $('#description').val() + '",'
											formdata += '"price": "' + $('#price').val() + '",'
											formdata += '"stock": "' + $('#stock').val() + '"'
											formdata += '}'

											$.ajax({
												url: '/api/delete/product/' + data.id,
												type: 'delete',
												contentType: 'application/json',
												success: function (data) {
													openList(0, 5);
												}
											})
										}
									})
								}

								alert("Data berhasil dihapus")
							}

						</script>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>



</html>