<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>
		Product Page
	</title>
</head>

<body>
	<div layout:fragment="content">
		<h3>Product List</h3>
		<p>
			<button onclick="openAddForm()">Tambah Data (+)</button>
		</p>

		<table border="1">
			<thead>
				<tr>
					<th>Nomor</th>
					<th>Variant</th>
					<th>Product Code</th>
					<th>Product Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Stock</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="item,en :${listproduct}">
					<td th:text="${ en.count}"></td>
					<td th:text="${item.variant.variantName + ' / ' + item.category.categoryName}"></td>
					<td th:text="${item.productCode}"></td>
					<td th:text="${item.productName}"></td>
					<td th:text="${item.description}"></td>
					<td th:text="${item.price}"></td>
					<td th:text="${item.stock}"></td>
					<td>
						<button th:value="${item.id}" onclick="openEditForm(this.value)"
							class="btn btn-primary">Edit</button>
						<button th:value="${item.id}" onclick="deleteItem(this.value)"
							class="btn btn-danger">Delete</button>
						<!--<a th:href="@{/product/edit/{id}(id=${item.id})}">Edit</a>
						<a th:href="@{/product/delete/{id}(id=${item.id})}">Delete</a>-->
					</td>
				</tr>
			</tbody>
		</table>

		<script>
			function openAddForm() {
				$.ajax({
					url: '/product/addformproduct',
					type: 'get',
					contentType: 'html',
					success: function (htmlpage) {
						$('.modal-title').html("Tambah data Product");
						$('.modal-body').html(htmlpage);
						$('#mymodal').modal('show');
					}
				})
			}

			function openEditForm(id) {
				$.ajax({
					url: '/product/edit/' + id,
					type: 'get',
					contentType: 'html',
					success: function (htmlpage) {
						$('.modal-title').html("Edit Data Product");
						$('.modal-body').html(htmlpage);
						$('#mymodal').modal('show');
					}
				})
			}

			function deleteItem(id) {
				var conf = window.confirm("Yakin ingin menghapus data ini?")
				if (conf) {
					window.open('/product/delete/' + id, '_self')
				}
			}

		</script>

	</div>
</body>

</html>