<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title></title>
</head>

<body>

	<div layout:fragment="content" class="bg-light">

		<div class="wrapper">
			<div class="content-wrapper">
				<section class="content">
					<div class="container-fluid">

						<h1>Order Header</h1>
						
						<div id="data-list">
						
						</div>

						<p>
							<a th:href="@{~/api/orderheader/exporttopdf}" class="btn btn-info">Export to PDF</a>
							<button onclick="tampilOrder()" class="btn bg-success">Tampil Order</button>
						</p>

						<script>
							function tampilOrder() {
								$.ajax({
									url: '/api/orderheader',
									type: 'get',
									contentType: 'application/json',
									success: function (data) {
										var str = '<table class="table" cellpadding="5">'
										str += '<tr>'
										str += '<th>Nomor</th>'
										str += '<th>Reference</th>'
										str += '<th>Amount</th>'
										str += '</tr>'
										var count = 1
										for (i = 0; i < data.length; i++) {
											
											if (data[i].amount > 0) {
												str += '<tr>'
												str += "<td>" + count + "</td>"
												str += '<td>' + data[i].reference + '</td>'
												str += '<td>' + data[i].amount + '</td>'
												str += '</tr>'
												count++
												
											} 
										}
										str += '</table>'
										$('#data-list').html(str)
									}
								})
							}
						</script>


					</div>
				</section>
			</div>
		</div>
	</div>
</body>



</html>