<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
	<head>
		<title>
			Variant Add Form
		</title>
	</head>
	
	<body>
	
	<form th:action="@{/variant/save}" th:object="${variant}" method="post">
		<input type="hidden" th:field="*{id}">
		<table border="1">
			<tr>
				<td>Category</td>
				<td>
					<select th:field="*{categoryId}">
						<option th:each="item:${category}" 
						th:value="${item.id}" 
						th:text="${item.categoryName}"></option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Variant Code</td>
				<td><input type="text" th:field="*{variantCode}"></td>
			</tr>
			
			<tr>
				<td>Variant Name</td>
				<td><input type="text" th:field="*{variantName}"></td>
			</tr>
			
			<tr>
				<td><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
	
	</body>
	
</html>