<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Variant API</title>
</head>

<body>
	<div layout:fragment="content" class="bg-light">
		<div class="wrapper">
			<div class="content-wrapper">
				<section class="content">
					<div class="container-fluid">
						<h1>Variant API</h1>

						<p>
							<a th:href="@{~/api/variant/exporttopdf}" class="btn btn-info">Export to PDF</a>
							<button onclick="openForm()" class="btn bg-success">Tambah Data</button>
						</p>

						<input type="text" class="form-control" style="width: 300px;" placeholder='Cari Variant'
							onkeyup='searchByVariant(this.value)'><br>

						<div id="variantList">

						</div>

						<div id="btnHapus">

						</div>

						<script>
							function searchByVariant(keyword) {
								if (keyword.length > 0) {
									$.ajax({
										url: '/api/variant/search/' + keyword,
										type: 'get',
										contentType: 'application/json',
										success: function (data) {
											var str = '<table class="table">'
											str += '<th>Nomor</th>'
											str += '<th>Category</th>'
											str += '<th>Variant Code</th>'
											str += '<th>Variant Name</th>'
											str += '<th colspan="2">Action</th>'
											str += '</tr>'

											for (i = 0; i < data.length; i++) {
												str += '<tr>'
												str += "<td>" + (i + 1) + "</td>"
												str += "<td>" + data[i].category.categoryName + "</td>"
												str += "<td>" + data[i].variantCode + "</td>"
												str += "<td>" + data[i].variantName + "</td>"
												str += "<td><button class='btn btn-primary' value='" + data[i].id + "' onclick=f_edit(this.value) >Edit</button></td>"
												str += "<td><button class='btn btn-danger' value='" + data[i].id + "' onclick=f_delete(this.value) >Delete</button></td>"
												str += "<td><input type='checkbox' onclick='selecteditem()' class='mychecked' id='listdelete' value='" + data[i].id + "'></td>"
												str += '</tr>'
											}

											str += "</table>"
											$('#variantList').html(str)
										}
									})
								}
							}

							$(function () {
								openList()
							})
							
							function openList() {
								$.ajax({
									url: '/api/variant',
									type: 'get',
									contentType: 'application/json',
									success: function (data) {
										var str = '<table class="table">'
										str += '<th>Nomor</th>'
										str += '<th>Category</th>'
										str += '<th>Variant Code</th>'
										str += '<th>Variant Name</th>'
										str += '<th colspan="2">Action</th>'
										str += '</tr>'

										for (i = 0; i < data.length; i++) {
											str += '<tr>'
											str += "<td>" + (i + 1) + "</td>"
											str += "<td>" + data[i].category.categoryName + "</td>"
											str += "<td>" + data[i].variantCode + "</td>"
											str += "<td>" + data[i].variantName + "</td>"
											str += "<td><button class='btn btn-primary' value='" + data[i].id + "' onclick=f_edit(this.value) >Edit</button></td>"
											str += "<td><button class='btn btn-danger' value='" + data[i].id + "' onclick=f_delete(this.value) >Delete</button></td>"
											str += "<td><input type='checkbox' onclick='selecteditem()' class='mychecked' id='listdelete' value='" + data[i].id + "'></td>"
											str += '</tr>'
										}

										str += "</table>"
										$('#variantList').html(str)
									}
								})
							}


							function openForm() {
								$.ajax({
									url: '/api/category',
									type: 'get',
									contentType: 'application/json',
									success: function (data) {
										var str = '<table class="table" cellpading="5"'
										str += '<tr>'
										str += '<td>Category</td>'
										str += '<td>'
										str += '<select id="category_id" class="custom-select rounded-5">'

										for (i = 0; i < data.length; i++) {

											str += '<option value=' + data[i].id + '>' + data[i].categoryName + '</option>'

										}
										str += '</select>'
										str += '</td>'
										str += '</tr>'
										str += '<tr>'
										str += '<td>Variant Code</td>'
										str += '<td><input class="form-control" type="text" id="variant_code"</td>'
										str += '</tr>'
										str += '<tr>'
										str += '<td>Variant Name</td>'
										str += '<td><input class="form-control" type="text" id="variant_name"</td>'
										str += '</tr>'
										str += '<tr>'
										str += '<td colspan="2"><button onclick="saveCategory()" data-dismiss="modal" class="btn btn-success">Simpan Data</button></td>'
										str += '</tr>'
										str += '</table>'
										$('.modal-title').html('Tambah Data Variant')
										$('.modal-body').html(str)
										$('#mymodal').modal('show')
									}
								})
							}

							function saveCategory() {
								var formdata = '{'
								formdata += '"categoryId": "' + $('#category_id').val() + '",'
								formdata += '"variantCode": "' + $('#variant_code').val() + '",'
								formdata += '"variantName": "' + $('#variant_name').val() + '"'
								formdata += '}'

								$.ajax({
									url: '/api/add/variant',
									type: 'post',
									contentType: 'application/json',
									data: formdata,
									success: function (data) {
										openList()
									}

								})
							}

							function f_edit(id) {
								$.ajax({
									url: '/api/variant/' + id,
									type: 'get',
									contentType: 'application/json',
									success: (data) => {
										$.ajax({
											url: '/api/category/',
											type: 'get',
											contentType: 'application/json',
											success: function (data2) {
												var str = '<table class="table" cellpading="5"'
												str += '<tr>'
												str += '<td>Category</td>'
												str += '<td>'
												str += '<select id="category_id" class="custom-select rounded-5">'

												for (i = 0; i < data2.length; i++) {
													if (data2[i].id == data.categoryId) {
														select = "selected";
													} else {
														select = "";
													}

													str += '<option value="' + data2[i].id + '"' + select + '>' + data2[i].categoryName + '</option>'

												}

												str += '</select>'
												str += '</td>'
												str += '</tr>'
												str += '<tr>'
												str += '<td>Variant Code</td>'
												str += '<td><input class="form-control" type="text" value="' + data.variantCode + '" id="variant_code"</td>'
												str += '</tr>'
												str += '<tr>'
												str += '<td>Variant Name</td>'
												str += '<td><input class="form-control" type="text" value="' + data.variantName + '" id="variant_name"</td>'
												str += '</tr>'
												str += '<tr>'
												str += '<td colspan="2"><button value="' + data.id + '" onclick="updateVariant(this.value)" data-dismiss="modal" class="btn btn-success">Simpan Data</button></td>'
												str += '</tr>'
												str += '</table>'
												$('.modal-title').html('Edit Data Variant')
												$('.modal-body').html(str)
												$('#mymodal').modal('show')
											}
										})

									}
								})
							}

							function updateVariant(id) {
								var formdata = '{'
								formdata += '"id": "' + id + '",'
								formdata += '"categoryId": "' + $('#category_id').val() + '",'
								formdata += '"variantCode": "' + $('#variant_code').val() + '",'
								formdata += '"variantName": "' + $('#variant_name').val() + '"'
								formdata += '}'
								$.ajax({
									url: '/api/update/variant',
									type: 'put',
									contentType: 'application/json',
									data: formdata,
									success: (data) => {
										openList()
									}
								})
							}

							function f_delete(id) {
								var conf = window.confirm("Apakah anda yakin ingin dihapus?")
								if (conf) {
									$.ajax({
										url: '/api/delete/variant/' + id,
										type: 'delete',
										contentType: 'application/json',
										success: () => {
											openList()
										}
									})
								}
							}

							function selecteditem() {
								var myChecked = $('.mychecked')
								var selected = [];

								for (var i = 0; i < myChecked.length; i++) {
									if (myChecked[i].checked) {
										selected.push(myChecked[i].value);
									}
								}

								if (selected.length > 0) {
									var str = '<button class="btn btn-primary btn-sm" onclick="confirmDeleteItem(' + selected + ')">Hapus</button>';
								} else {
									str = '<button class="btn btn-primary btn-sm" disabled>Hapus</button>';
								}

								$('#btnHapus').html(str);
							}

							function confirmDeleteItem(...selected) {
								var str = 'Anda yakin akan mengapus category <br>';
								console.log(selected);
								for (var i = 0; i < selected.length; i++) {
									$.ajax({
										url: '/api/variant/' + selected[i],
										type: 'get',
										contentType: 'application/json',
										success: function (data) {
											str += '<span>' + data.categoryName + '</span> <br>';

											$('.modal-title').html('<h5 style="color:#00bfff">Hapus Category<h5>');
											$('.modal-body').html(str);
											$('.modal-footer').html(footer);
											$('#mymodal').modal('show');
										}
									})

								}
								var footer = '<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Batal</button>';

								footer += '<button type="button" class="btn btn-primary btn-sm" onclick="multipledelete(' + selected + ')" data-dismiss="modal">Hapus</button>';

							}


							function multipledelete(...selected) {
								for (var i = 0; i < selected.length; i++) {
									$.ajax({
										url: '/api/variant/' + selected[i],
										type: 'get',
										contentType: 'application/json',
										success: function (data) {

											var formdata = '{'
											formdata += '"categoryId": "' + $('#category_id').val() + '",'
											formdata += '"variantCode": "' + $('#variant_code').val() + '",'
											formdata += '"variantName": "' + $('#variant_name').val() + '"'
											formdata += '}'

											$.ajax({
												url: '/api/delete/variant/' + data.id,
												type: 'delete',
												contentType: 'application/json',
												success: function (data) {
													openList(0, 5);
												}
											})
										}
									})
								}

								alert("Data berhasil dihapus")
							}

						</script>

					</div>
				</section>
			</div>
		</div>
	</div>
</body>

</html>