<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>
		Variant Page
	</title>
</head>

<body>
	<div layout:fragment="content">
		<h3>Variant List</h3>
		<p>
			<button onclick="openAddForm()">Tambah Data (+)</button>
		</p>

		<table border="1">
			<thead>
				<tr>
					<th>Category</th>
					<th>Variant Code</th>
					<th>Variant Name</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="item:${listvariant}">
					<td th:text="${ item.category.categoryName}"></td>
					<td th:text="${ item.variantCode}"></td>
					<td th:text="${ item.variantName}"></td>
					<td>
						<button th:value="${item.id}" onclick="openEditForm(this.value)"  class="btn btn-primary">Edit</button>
						<button th:value="${item.id}" onclick="deleteItem(this.value)"  class="btn btn-danger">Delete</button>
						<!--<a th:href="@{/variant/edit/{id}(id=${item.id})}">Edit</a>
						<a th:href="@{/variant/delete/{id}(id=${item.id})}">Delete</a>-->
					</td>
				</tr>
			</tbody>
		</table>
		
		<script>
			function openAddForm(){
				$.ajax({
					url: '/variant/addformvariant',
					type : 'get',
					contentType : 'html',
					success: function(htmlpage){
						$('.modal-title').html("Tambah data variant");
						$('.modal-body').html(htmlpage);
						$('#mymodal').modal('show');
					}
				})
			}
			
			function openEditForm(id){
				$.ajax({
					url:'/variant/edit/' + id,
					type: 'get',
					contentType : 'html',
					success: function(htmlpage){
						$('.modal-title').html("Edit Data Variant");
						$('.modal-body').html(htmlpage);
						$('#mymodal').modal('show');
					}
				})
			}
			
			function deleteItem(id){
				var conf = window.confirm("Yakin ingin menghapus data ini?")
				if (conf) {
					window.open('/variant/delete/' + id, '_self')
				}
			}
		</script>
	</div>
</body>

</html>