<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>
		Category Page
	</title>

</head>

<body>
	<div layout:fragment="content">
		<h3>Category List</h3>

		<!--<p>
			<button>Tambah Data (+)</button>
		</p>-->
		
		<p>
			<button onclick="openAddForm()">Tambah Data (+)</button>
		</p>

		<table border="1">
			<thead>
				<tr>
					<th>Category Code</th>
					<th>Category Name</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="item:${ listcategory }">
					<td th:text="${ item.categoryCode }"></td>
					<td th:text="${ item.categoryName }"></td>
					<td>
						<button th:value="${item.id}" onclick="openEditForm(this.value)"  class="btn btn-primary">Edit</button>
						<button th:value="${item.id}" onclick="deleteItem(this.value)"  class="btn btn-danger">Delete</button>
						<!--<a th:href="@{/category/edit/{id}(id=${item.id})}">Edit</a>-->
						<!--<a  class="btn btn-primary "th:href="@{/category/delete/{id}(id=${item.id})}">Delete</a>-->
					</td>
				</tr>
			</tbody>
		</table>
		
		<script>
			function openAddForm(){
				$.ajax({
					url: '/category/addform',
					type : 'get',
					contentType : 'html',
					success: function(htmlpage){
						$('.modal-title').html("Tambah data category");
						$('.modal-body').html(htmlpage);
						$('#mymodal').modal('show');
					}
				})
			}
			
			function openEditForm(id){
				$.ajax({
					url:'/category/edit/' + id,
					type: 'get',
					contentType : 'html',
					success: function(htmlpage){
						$('.modal-title').html("Edit Data Category");
						$('.modal-body').html(htmlpage);
						$('#mymodal').modal('show');
					}
				})
			}
			
			function deleteItem(id){
				var conf = window.confirm("Yakin ingin menghapus data ini?")
				if (conf) {
					window.open('/category/delete/' + id, '_self')
				}
			}
			
		</script>
	</div>
</body>

</html>