<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Category API</title>
</head>

<body>

	<div layout:fragment="content" class="bg-light">
		<div class="wrapper">
			<div class="content-wrapper">
				<section class="content">
					<div class="container-fluid">
						<h1>Category API</h1>

						<p>
							<a th:href="@{~/api/category/exporttopdf}" class="btn btn-info">Export to PDF</a>
							<button onclick="openForm()" class="btn bg-success">Tambah Data</button>
						</p>

						<input type="text" class="form-control" style="width: 300px;" placeholder='Cari Category'
							onkeyup='searchByCategory(this.value)'><br>


						<div id="categoryList">

						</div>


						<div id="btnHapus">

						</div>

						<script>
							function searchByCategory(keyword) {
								if (keyword.length > 0) {
									$.ajax({
										url: '/api/category/search/' + keyword,
										type: 'get',
										contentType: 'application/json',
										success: function (data) {
											var str = '<table class="table">'
											str += '<tr>'
											str += '<th> Nomor</th>'
											str += '<th> Category Code</th>'
											str += '<th> Category Name</th>'
											str += '<th colspan="2"> Action</th>'
											str += '</tr>'

											for (i = 0; i < data.length; i++) {
												str += '<tr>'
												str += "<td>" + (i + 1) + "</td>"
												str += "<td>" + data[i].categoryCode + "</td>"
												str += "<td>" + data[i].categoryName + "</td>"
												str += "<td><button class='btn btn-primary' value='" + data[i].id + "' onclick=f_edit(this.value)>Edit</button>"
												str += "<td><button class='btn btn-danger' value='" + data[i].id + "' onclick=f_delete(this.value)>Delete</button>"
												str += "<td><input type='checkbox' onclick='selecteditem()' class='mychecked' id='listdelete' value='" + data[i].id + "'></td>"
												str += "</td>"
												str += '</tr>'
											}
											str += '</table>'
											$('#categoryList').html(str)
										}
									})
								}
							}

							$(function () {
								openList()
							})

							function openList() {
								$.ajax({
									url: '/api/category',
									type: 'get',
									contentType: 'application/json',
									success: function (data) {
										var str = '<table class="table">'
										str += '<tr>'
										str += '<th> Nomor</th>'
										str += '<th> Category Code</th>'
										str += '<th> Category Name</th>'
										str += '<th colspan="2"> Action</th>'
										str += '</tr>'

										for (i = 0; i < data.length; i++) {
											str += '<tr>'
											str += "<td>" + (i + 1) + "</td>"
											str += "<td>" + data[i].categoryCode + "</td>"
											str += "<td>" + data[i].categoryName + "</td>"
											str += "<td><button class='btn btn-primary' value='" + data[i].id + "' onclick=f_edit(this.value)>Edit</button>"
											str += "<td><button class='btn btn-danger' value='" + data[i].id + "' onclick=f_delete(this.value)>Delete</button>"
											str += "</td>"
											str += "<td><input type='checkbox' onclick='selecteditem()' class='mychecked' id='listdelete' value='" + data[i].id + "'></td>"
											str += '</tr>'
										}
										str += '</table>'
										$('#categoryList').html(str)
									}
								})
							}

							function openForm() {
								var str = '<table  cellpadding="5" class="table">'
								str += '<tr>'
								str += '<td>Category Code</td>'
								str += '<td><input class="form-control" type="text" id="category_code"></td>'
								str += '</tr>'
								str += '<tr>'
								str += '<td>Category Name</td>'
								str += '<td><input class="form-control" type="text" id="category_name"></td>'
								str += '</tr>'
								str += '</table>'

								var footer = '<button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>';
								footer += '<button type="button" onclick="saveCategory()" data-dismiss="modal" class="btn btn-success">Simpan Data</button>';

								$('.modal-title').html('Tambah Data Category')
								$('.modal-body').html(str)
								$('.modal-footer').html(footer)
								$('#mymodal').modal('show')


							}


							function saveCategory() {
								var formdata = '{'
								formdata += '"categoryCode": "' + $('#category_code').val() + '",'
								formdata += '"categoryName": "' + $('#category_name').val() + '"'
								formdata += '}'

								$.ajax({
									url: '/api/add/category',
									type: 'post',
									contentType: 'application/json',
									data: formdata,
									success: function (data) {
										openList()
									}
								})
							}

							function f_edit(id) {
								$.ajax({
									url: '/api/category/' + id,
									type: 'get',
									contentType: 'application/json',
									success: (data) => {
										var str = '<table cellpading="5" class="table" >'
										str += '<tr>'
										str += '<td>Category Code</td>'
										str += '<td><input type="text" class="form-control" id="category_code" value="' + data.categoryCode + '"></td>'
										str += '</tr>'
										str += '<tr>'
										str += '<td>Category Name</td>'
										str += '<td><input type="text" class="form-control" id="category_name" value="' + data.categoryName + '"></td>'
										str += '</tr>'
										str += '</table>'

										var footer = '<button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>';
										footer += '<button type="button" value="' + data.id + '" onclick="updateCategory(this.value)" data-dismiss="modal" class="btn btn-success">Simpan Data</button>';

										$('.modal-title').html('Edit Data Category')
										$('.modal-body').html(str)
										$('.modal-footer').html(footer);
										$('#mymodal').modal('show')

									}
								})
							}

							function updateCategory(id) {
								var formdata = '{'
								formdata += '"id": "' + id + '",'
								formdata += '"categoryCode": "' + $('#category_code').val() + '",'
								formdata += '"categoryName": "' + $('#category_name').val() + '"'
								formdata += '}'
								$.ajax({
									url: '/api/update/category',
									type: 'put',
									contentType: 'application/json',
									data: formdata,
									success: (data) => {
										openList()
									}
								})
							}

							function f_delete(id) {
								var conf = window.confirm("Apakah anda yakin ingin dihapus?")
								if (conf) {
									$.ajax({
										url: '/api/delete/category/' + id,
										type: 'delete',
										contentType: 'application/json',
										success: () => {
											openList()
										}
									})
								}

							}

							function selecteditem() {
								var myChecked = $('.mychecked')
								var selected = [];

								for (var i = 0; i < myChecked.length; i++) {
									if (myChecked[i].checked) {
										selected.push(myChecked[i].value);
									}
								}

								if (selected.length > 0) {
									var str = '<button class="btn btn-primary btn-sm" onclick="confirmDeleteItem(' + selected + ')">Hapus</button>';
								} else {
									str = '<button class="btn btn-primary btn-sm" disabled>Hapus</button>';
								}

								$('#btnHapus').html(str);
							}

							function confirmDeleteItem(...selected) {
								var str = 'Anda yakin akan mengapus category <br>';
								console.log(selected);
								for (var i = 0; i < selected.length; i++) {
									$.ajax({
										url: '/api/category/' + selected[i],
										type: 'get',
										contentType: 'application/json',
										success: function (data) {
											str += '<span>' + data.categoryName + '</span> <br>';

											$('.modal-title').html('<h5 style="color:#00bfff">Hapus Category<h5>');
											$('.modal-body').html(str);
											$('.modal-footer').html(footer);
											$('#mymodal').modal('show');
										}
									})
								}

								var footer = '<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Batal</button>';

								footer += '<button type="button" class="btn btn-primary btn-sm" onclick="multipledelete(' + selected + ')" data-dismiss="modal">Hapus</button>';
							}

							function multipledelete(...selected) {
								for (var i = 0; i < selected.length; i++) {
									$.ajax({
										url: '/api/category/' + selected[i],
										type: 'get',
										contentType: 'application/json',
										success: function (data) {
											var formdata = '{'
											formdata += '"categoryCode":"' + data.categoryCode + '",'
											formdata += '"categoryName":"' + data.categoryName + '"'
											formdata = '}'

											$.ajax({
												url: '/api/delete/category/' + data.id,
												type: 'delete',
												contentType: 'application/json',
												success: function (data) {
													openList(0, 5);
												}
											})
										}
									})
								}

								alert("Data berhasil dihapus")
							}

						</script>
					</div>
				</section>
			</div>
		</div>
	</div>



</body>

</html>